.main {
    height: 100%;
    background-color: #99ccff;
    padding: 5px;
    text-align: center;
    position: relative;
}

.supporting {
    background-color: #fff;
    width: 600px;
    height: 550px;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper {
    width: 60%;
    margin: 55px auto;
    padding: 20px;
    text-align: left;
}

.wrapper h3 {
    color: #004280;
    font-family: Arial, sans-serif;
}

.wrapper p {
    color: #666;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.wrapper input[type="text"], .wrapper textarea {
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background-color: #d9d9d9;
    border: none;
    box-sizing: border-box;
}

.wrapper input[type="submit"] {
    margin-top: 20px;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #99ccff;
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.wrapper input[type="submit"]:hover {
    background-color: #004280;
}

/* Agrega este CSS al final de tu archivo de estilos notas.css */

.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.5s;
}

.toast.hidden {
    opacity: 0;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ajustado para que ocupe toda la pantalla */
    background: linear-gradient(#588dc2, #0f245f);
  }

.buttonBack {
    margin-top: 20px;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #1b3046;
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: #44a1ff 0.3s;
}